<html>
<head>
  <div>
  <h5>
    <a href="/sessions/new">Sign in</a>
    <a href="/users/new">Sign up</a>
  </h5>
</div>


<div><h1>Beds'N'Breakfasts</h1></div>
<div><h4><a href="/spaces">Find a bed n breakfast</a></h4></div>

<div><img src="http://bit.ly/2r8SAQP"></div>

</head>
</html>
