<div id="centerDoc">
<div><h1>Beds'N'Breakfasts</h1></div>
<div><h4><a href="/spaces">Find a bed n breakfast</a></h4></div>

<div><img src="http://bit.ly/2r8SAQP" style=""></div>




<h4>I think that we need to welcoming introductory text here. Maybe even a little slider or an obout us...</h4>



</div>
