<html>
<head>
  <div align = "right">
  <h5>
    <a href="/sessions/new">Sign in</a>
    <a href="/users/new">Sign up</a>
  </h5>
</div>


<div align = "center" style ='border: 10px groove blue'><h1>Beds'N'Breakfasts</h1></div>
<div align = "center"><h4><a href="/spaces">Find a bed n breakfast</a></h4></div>
<!-- <div class="box">
  <div class="container-1">
      <span class="icon"><i class="fa fa-search"></i></span>
      <input type="search" id="search" placeholder="Search..." />
  </div>
</div> -->
<div><img src="http://bit.ly/2r8SAQP"></div>

</head>
</html>
