<html>
<head>
  <link rel="stylesheet" type="text/css" href="/makersbnb.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body>
  <div id="container">

    <div id="header">
      <div id="logo">
        <a href="/"><img src="/images/mbnb_blue.png" width="200" alt="Makers BNB" title="Makers BNB"></a>
      </div>
      <div id="navigation">
        <!-- <ul> -->




        <% if current_user %>
        <h1> Hi <%= current_user.name %> </h1>




        <% end %>





          <li><a href="/">Home</a></li>
          <li><a href="/sessions/new">Sign In</a></li>
          <li><a href="/users/new">Sign Up</a></li>
          <li>
            <form method='post' action='/sessions'>
            <input type='hidden' name='_method' value='delete' class="form-control">
            <input type='submit' value='Log Out'>
            </form>
          </li>
          <!-- <ul> -->
      </div>
    </div>
  </div>
  <div id="centerDoc">
  <div>
    <%= yield %>
  </div>
</div>
  <div id="test_logo"></div>
</body>
</html>
