<html>
<head>
<link rel="stylesheet" type="text/css" href="/makersbnb.css">
</head>
<body>
  <div id="container">
    <div id="logo">
      <a href="/"><img src="/images/mbnb_blue.png" width="200" alt="Makers BNB" title="Makers BNB"></a>
    </div>
    <div id="navigation">
      <li>Home</li>
      <li>Sign In</li>
    </div>
  </div>
  <div>
    <%= yield %>
  </div>
  <div id="test_logo"></div>
</body>
</html>
