<div id="form">
  <form action='/spaces' method='post' enctype="multipart/form-data" >

    <label for="name">Name of Property</label>
    <input type="text" name="name" id="name" placeholder="Property Name">

    <label for="city">City</label>
    <input type="text" name="city" id="city" placeholder="Property city">

    <label for="street">Street Address</label>
    <input type="text" name="street" id="street" placeholder="Property street">

    <label for="postcode">Post Code</label>
    <input type="text" name="postcode" id="postcode" placeholder="Property postcode">

    <label for="price">Price Per Night</label>
    <input type="number" name="price" id="price" placeholder="Property price per night">

    <fieldset>
      <legend>Choose your tags</legend>

      <table class="table">
      <tr>
        <td><input type="checkbox" id="Pool" name="tags[]" value="Pool">
        <label for="Pool">Pool</label></td>
        <td><input type="checkbox" id="Terrace" name="tags[]" value="Terrace">
        <label for="Terrace">Terrace</label></td>
        <td><input type="checkbox" id="Studio" name="tags[]" value="Studio">
        <label for="Studio">Studio</label></td>
        <td><input type="checkbox" id="Appartment" name="tags[]" value="Appartment">
        <label for="Appartment">Appartment</label></td>
      </tr>
      <tr>
        <td><input type="checkbox" id="AC" name="tags[]" value="AC">
        <label for="AC">AC</label></td>
        <td><input type="checkbox" id="Wifi" name="tags[]" value="Wifi">
        <label for="Wifi">Wifi</label></td>
        <td><input type="checkbox" id="Balcony" name="tags[]" value="Balcony">
        <label for="Balcony">Balcony</label></td>
        <td><input type="checkbox" id="Close_to_beach" name="tags[]" value="Close_to_beach">
        <label for="Close_to_beach">Close to beach</label></td>
      </tr>
    </table>
    </fieldset>
    
    <br>

    <label for="description">Describe the property</label>
    <textarea name="description" id="description">Enter property description</textarea>

    <label for="start_date">Available from:</label>
    <input type="date" id="start_date" name="start_date">

    <label for="start_date">Available to:</label>
    <input type="date" id="end_date" name="end_date">

    <label for="file">Enter Property Photo</label>
    <input type="file" id="file">

    <input type="submit" value="Upload this space">
  </form>
</div>
