/** { margin: 0px auto;
    margin-top: 20px;
  }*/

body {
  background-image: url("https://static.pexels.com/photos/34632/pexels-photo.jpg");
  background-size: cover;
}

a:link { color: #1a8cff }
a:visited { color: #1a8cff }
a:hover { color: #80bfff }
a:active { color: rgb(255, 0, 102) }

#tagMenu li {
  display: inline;
  padding: 0px;
}

#myCarousel img {
    height: 600px;
}


#container {
  max-width: 960px;
  width: 96%auto;
  margin:auto;
}


#header {
  background: #fff;
  margin-top: 10px;
}


/*#test_logo {
  background-image: url("/images/mbnb_blue.png");
  width: 200px
}

#test_logo:hover {
  background-image: url("/images/mbnb_red.png");
  width: 200px
}*/


#centerDoc {
   /*position: absolute;*/
   padding: 50px 0 20px 0; /*top right bottom left*/
   margin: 0px auto;
   margin-top: 50px;
   margin-left: auto;
   background-color: #f2f2f2;
   background:rgba(255,255,255,0.5);
   width: 75%;
}

#centerDoc img {
  display: block;
  margin: 0 auto;
}

#navigation {
  float: right;
  line-height: 7-px;
  /*font-family: "futura-pt";*/
}

#navigation li {
  display: inline-block;
  padding: 5px 20px;
  margin-left: 10px;
  background: #f3f3f3;
  line-height: normal;
}

#logo {
float: left;
margin-top: 10px;
}



#navigation {
  /*font-family: "futura-pt";*/
}

#form {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

textarea {
    height: 30%;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


input[type=file], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=date], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #1a8cff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #80bfff;
}
