
  <div id="form">
  <form action='/sessions' method='post'>

<div id="centerDoc">
<div id="form">
  <form action='/session' method='post'>


    <label for="email">E-mail</label>
    <input type="text" name="email" id="email" placeholder="Your e-mail..">

    <label for="password">Password</label>

    <input type="text" name="password" id="password" placeholder="Your password..">

    <input type="password" name="password" placeholder="Your password..">


    <input type="submit" value="Sign in">
  </form>
</div>
</div>
