<h3>Welcome Alex Law</h3>

<p class="primary">These are your listed properties</p>
<span class=glyphicon glyphicon-object-align-right></span>


<div class="row">
  <div class="col-xs-4 col-md-4">
    <a href="#" class="thumbnail">
      <img src="http://placehold.it/300x200" alt="...">
    </a>
    <div style="margin-left:40px;">
      <p>London</p>
      <p>Space Name</p>
      <p>Price</p>
      <p>Description</p>
      <a href="#">Click to see bookings (0)</a>
    </div>
  </div>



  <div class="col-xs-4 col-md-4">
    <a href="#" class="thumbnail">
      <img src="http://placehold.it/300x200" alt="...">
    </a>
    <div style="margin-left:40px;">
      <p>London</p>
      <p>Space Name</p>
      <p>Price</p>
      <p>Description</p>
      <a href="#">Click to see bookings (0)</a>
    </div>
  </div>


  <div class="col-xs-4 col-md-4">
    <a href="#" class="thumbnail">
      <img src="http://placehold.it/300x200" alt="...">
    </a>
    <div style="margin-left:40px;">
      <p>London</p>
      <p>Space Name</p>
      <p>Price</p>
      <p>Description</p>
      <a href="#">Click to see bookings (0)</a>
    </div>
  </div>

</div>


<div class="row">
  <div class="col-xs-4 col-md-4">

  </div>
</div>
