<div>
  <form action='/users' method='post'>
    <label for="name">Name</label>
    <input type="text" name="name" placeholder="Your name..">

    <label for="e-mail">E-mail</label>
    <input type="text" name="email" placeholder="Your e-mail..">

    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Your password..">

    <label for="confirm_password">Password Confirmation</label>
    <input type="password" name="password_confirmation" placeholder="Confirm your password..">

    <input type="submit" value="Sign up">
  </form>
</div>
